<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Login</title>
  <script>
    function login(event) {
      event.preventDefault();
      const userId = document.getElementById('userId').value;
      const password = document.getElementById('password').value;
      const data = {userId: userId, password: password};
      fetch('api/users/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('로그인 실패');
        }
      }).then(response => {
        if (response.ok) {
          alert('로그인 성공');
        } else {
          throw new Error('로그인 실패');
        }
      }).catch(error => {
        console.error('Error:', error);
        alert(error.message);
      });
      }
  </script>
</head>
<body>
<h2>Login</h2>
<form onsubmit="event.preventDefault(); login(event)">
  <div class="container">
    <label for="userId"><b>User ID</b></label>
    <input type="text" id="userId" placeholder="Enter User ID" required>

    <label for="password"><b>Password</b></label>
    <input type="password" id="password" placeholder="Enter Password" required>

    <button type="submit">Login</button>
  </div>
</form>
</body>
</html>